    {{!-- CSS STYLES --}}
<link rel="stylesheet" href="styles/home.css">

<body>   
    <nav class="nav-container">
        <div class="logo">  <a href="#"><img src="img/TRSlogo.svg" alt="Todo Re-Suelto"></a></div>
        <div class="logo-item-gap"></div>
        <ul class="nav-list">
            <li class="nav-item" ><a href="#"class="nav-link">Inicio</a></li>
            <li class="nav-item"><a href="productos"class="nav-link">Productos</a></li>
            <li class="nav-item"><a href="#conocenos"class="nav-link">Conocenos</a></li>
            <li class="nav-item"><a href="#encontranos"class="nav-link">Donde encontrarnos</a></li>
        </ul>
        <div class="menu-btn-box inactive">
            <div class="top-line">
                <span class="btn-line" id="top-left"></span>
                <span class="btn-line" id="top-middle"></span>
                <span class="btn-line" id="top-right"></span>
            </div>
            <div class="btn-line middle-line" id="middle"></div>
            <div class="bottom-line">
                <span class="btn-line" id="bottom-left"></span>
                <span class="btn-line" id="bottom-middle"></span>
                <span class="btn-line" id="bottom-right"></span>
            </div>
        </div>
    </nav>
    <section class="hero">
        <div class="hero-container">
            <div class="hero-left">
                <h1 class="hero-title">Todo Re-Suelto</h1>
                <h2 class="hero-subtitle">Almacen Natural</h2>
                <div class="button-container">
                    <a href="productos" class="button product-link" id="products-button">Productos <img src="img/ir-a-enlace.svg"></a>
                    <a href="#conocenos" class="button" id="about-button">Conocenos</a>
                </div>
            </div>
            <div class="hero-right">
                <div class="phrase-bg">
                    <p class="phrase">“No encuentres clientes para tus productos, encuentra productos para tus clientes”</p>
                </div>
            </div>
        </div>
    </section>
    <section class="about" id="conocenos">
        <h2 class="big-bg-text">Productos Naturales</h2>
        <h3 class="medium-bg-text">La mejor<br>Calidad</h3>
        <div class="circle-container">
            <div class="about-circle">
                <img class="beans-img gsap-beans" alt="porotos" src="img/porotos.svg">
                <img class="beans-img gsap-beans" alt="porotos" src="img/porotos.svg">
                <img src="img/trigo.svg" alt="trigo" class="wheat-img">
            </div>
        </div>
        <div class="about-us-container">
            <img src="img/porotosBG.png" class="beans-bg beans-bg-top">
            <h4 class="title gsap-about-us-top">¿Quiénes Somos?</h4>
            <p class="about-us-text gsap-about-us-top">
                    Todo Re-Suelto es un emprendimiento que inauguramos en el año 2002, en la ciudad de Campana, con la intención de vender productos naturales en forma fraccionada. 
                    De esta forma nos convertimos en el primer almacén natural de nuestra ciudad.
                    <br> Con el pasar de los años nuestros clientes nos llevaron por el camino de los productos saludables. Siempre continuando con nuestra esencia principal que es la venta suelta de productos,
                    también conocida como venta a granel.
                    <br>En nuestro comercio, podrán encontrar variedades en frutas secas, legumbres, cereales, harinas, semillas, condimentos, herboristería, dietética y repostería, entre otros.
                    <br>Esperamos su visita por nuestro local. Será bienvenido y atendido de la mejor manera.</p>
        </div>
        <div class="about-history">
            <img src="img/porotosBG.png" class="beans-bg beans-bg-bottom">
            <h4 class="title gsap-about-us-history">Nuestra Historia</h4>
            <p class="about-us-text gsap-about-us-history">
                    En el año 2001 nuestro pais sufrió una crisis económica muy grande. Esta situación le dificultaba a la gente comprar productos envasados en el supermecado, debido a que venían en tamaños y pesos ya definidos.
                    Como el dinero escaseaba las personas compraban la cantidad de alimentos que podian y al comprar 1kg de arroz envasado quizás se quedaban sin dinero para comprar lentejas u algún otro producto.
                    <br>Dada esta complicacion, decidimos ofrecerle a la gente de nuestra ciudad una solución a este problema. Al vender productos sueltos permitimos que el cliente elíja la cantidad que desea llevar de cada uno.
                    <br>De ahí nuestro sello Todo Re-Suelto: porque resuelve un problema y además nuestros productos se venden de forma fraccionada.
            </p>
            <a href="productos" class="button product-link gsap-about-us-history" id="products-button2">Conocé nuestros Productos <img src="img/ir-a-enlace.svg"></a>
        </div>
        <div class="photos-section">
            <div class="slider gsap-about-us-history">
                <div class="slides">
                    <input type="radio" name="photo-btn" id="photo1">
                    <input type="radio" name="photo-btn" id="photo2">
                    <input type="radio" name="photo-btn" id="photo3">
                    <input type="radio" name="photo-btn" id="photo4">                    
                    <div class="slide first">
                        <img src="img/negocio-2004.svg" alt="Sector Harinas y Legumbres">
                    </div>
                    <div class="slide">
                        <img src="img/negocio-2007.svg" alt="Vista del local desde entrada">
                    </div>
                    <div class="slide">
                        <img src="img/negocio-harinas-legumbres.svg" alt="Vista del local desde entrada">
                    </div>
                    <div class="slide">
                        <img src="img/negocio-vista-frente.svg" alt="Vista del local desde entrada">
                    </div>
                    <div class="navigation-manual">
                        <label for="photo1" class="manual-btn" id="photo-btn1"></label>
                        <label for="photo2" class="manual-btn" id="photo-btn2"></label>
                        <label for="photo3" class="manual-btn" id="photo-btn3"></label>
                        <label for="photo4" class="manual-btn" id="photo-btn4"></label>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="contact" id="encontranos">
        <div class="contact-container">
            <h4 class="title">Donde encontrarnos</h4>
            <div class="contact-info">
                <p class="contact-text">Ante cualquier consulta,no dudes en escribirnos:</p>
                <p class="info-detail"><a href="https://wa.me/543489545315" class="info-link" target="_blank">
                    <img class="contact-whatsapp-logo" src="img/whatsapp-logo.svg" alt="whatsapp-logo"> +54 3489 545315</a></p>
                <p class="contact-text">Veni a visitarnos</p>
                <p class="info-detail"><a href="https://www.google.com/maps/place/Todo+Re-suelto/@-34.166134,-58.9619217,17z/data=!3m1!4b1!4m5!3m4!1s0x95bb72314b797233:0xf4a2cf020b36f547!8m2!3d-34.1661379!4d-58.9597334" target="_blank" class="info-link">
                    <img class="contact-google-maps-logo" src="img/maps-logo.svg" alt="google-maps-logo"> Estrada 804, Campana
                </a></p>
            </div>
            <p class="contact-text reminder-msg">No olvides que podés hacer tus pedidos via Whatsapp
                y luego pasar a retirarlos al local
            </p>
            <p class="title">TE ESPERAMOS!</p>
        </div>
    </section>
    <div class="map">
        <img src="img/porotosBG.png" class="beans-map beans-bg-map-left">
        <img src="img/porotosBG.png" class="beans-map beans-bg-map-right">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1650.6141843172477!2d-58.96069859788597!3d-34.166078498203625!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bb72314b797233%3A0xf4a2cf020b36f547!2sTodo%20Re-suelto!5e0!3m2!1ses!2sar!4v1650693488832!5m2!1ses!2sar" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <footer class="footer">
        <p>© Todos los derechos reservados.</p>
        <p>Desarrollo Web realizado por Luciano Torrano </p>
    </footer>
    <!-- SLIDER -->
    <script src="scripts/slider.js"></script>
    <!-- RESPONSIVE BTN -->
    <script src="scripts/responsive-btn.js"></script>
    <!-- GSAP CDN-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
    <!-- GSAP SCROLL TRIGGER-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/ScrollTrigger.min.js"></script>
    <script src="scripts/gsap-main-page.js"></script>

</body>